@font-face {
  font-family: PT Sans Narrow;
  src: url(../fonts/ptsansnarrow.woff);
  src: url(../fonts/ptsansnarrow.woff2);
  src: url(../fonts/ptsansnarrowbold.woff);
  src: url(../fonts/ptsansnarrowbold.woff2);
}

body {
  min-width: 960px;
  margin: 0;
  
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;  
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #fff;
  
  
   background: #000 url("../img/body-bg.jpg") no-repeat center top; 
  /* background: #000000 url("..img/barbershop-index.jpg") no-repeat 50% 3px; */
}

.inner-page {
  color: #000;
  
  background: #f8f8f0 url(/img/pattern-white.jpg) repeat;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.main-header {
  margin-bottom: 60px;
  color: #fff;
  background: #000;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-navigation{  
  width: 780px;
  float: left;
}

.main-navigation ul{  
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 0;
}

.main-navigation li{  
  display: inline-block;
  
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a{
  display: block;  
  padding: 25px 20px;
  
  text-decoration: none;
  color: #fff;  
}

.main-navigation a:hover{
  background: #242424;
}

.main-navigation .active {
  position: relative;
  background-color: none;
}

.main-navigation .active a:hover {
  background: none;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 0;
  
  height: 5px;
  background-color: #fff;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.main-navigation .logo-inner{
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;  
} 

.main-navigation .logo-inner:hover {
  background: none;
}



.user-block {  
  max-width: 140px;
  float: right;
}


.login {
  position: relative;
  display: block;  
  padding: 25px 20px;
  padding-left: 50px;
  
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
}

.login:hover {
  background: #242424;   
}

.login::before{
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  
  width: 18px;
  height: 16px;
  
  background: url(../img/icon-login.png) no-repeat;  
  opacity: .3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  height: 204px;
  width: 368px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  height: 204px;
  width: 368px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  
  text-align: center;
  
}
.features-item:last-child {  
  margin-right: 0;
}

.features-name {
  display: block;
  position: relative;
  
  margin-bottom: 30px;
  padding-bottom: 35px;
  
  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after{
  content: "";
  display: block;
  position: absolute;
  
  bottom: 0;
  left: 50%;
  
  width: 20px;
  height: 20px;  
  background: #fff;
  margin-left: -10px;
  transform: rotate(45deg);
  
}
.index-content {
   width: 780px;
  padding: 50px 80px;
  margin-bottom: 35px;
  
  color:#000;
  background:url(/img/divider.png) no-repeat center, #f8f5f2 url(/img/content-bg.png);
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;  
  
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
 margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  
  list-style: none;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview li {
  margin-bottom: 25px;
} 

.news-preview time {
  text-transform: none;
  font-weight: 400;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;  
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  
  color: #fff;
  background: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #663b15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background: #000;
}

.gallery {
  position: relative;
  
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  
  background: #cccccc;
  border: solid 7px #ffffff;
}

.gallery-content img {
  widows: 268px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.index-content-left {
  
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  
  float: right;
  width: 300px;
  min-height: 330px;
}

.appointment-form input {
  padding: 7px 15px;
  width: 106px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
    
  font: inherit;
  color: inherit;
  text-transform: inherit;
  
  background: #f9f6f3;
  border: 2px solid #000;
  outline: none;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form .btn {
  clear: both;
  width:100%;
}

.appointment-form input:nth-child(even){
  margin-right: 0;
}

/* СТИЛИ ВНУТРЕННИХ СТРАНИЦ */

.inner-page-title {
  margin-bottom: 55px;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  
  display: inline;
  padding-right: 40px;
}

.breadcrumbs a {
  color: #000;
  text-decoration: none;
}

.breadcrumbs a:hover {  
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs li::after {
  position: absolute;
  content: "";
  
  top: 4px;
  right: 15px;
  transform: rotate(45deg);
  
  width: 8px;
  height: 8px;
  
  background-color: #000;
}

.breadcrumbs .current::after {
  display: none;
}

.inner-content {
  margin-bottom: 75px;
}

.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  
  font-size: 24px;
  line-height: 30px;
}

.inner-content h3 {
  margin-top: 60px;
  margin-bottom: 30px;
  
  font-size: 20px;
  line-height: 24px;
}

.inner-content h2 + h3 {
  margin-top: 30px;
}

.inner-content p {
  margin: 14px 0;
}

.inner-content table {
  border-collapse: collapse;
}

.inner-content td{
  padding: 10px 15px;

  border: 2px solid #000000;
}

/* Особые стили для контесктных тегов*/

.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  
  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index: 2;
  
  display: inline;
  margin: 0;
  padding: 0 25px;
  
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  
  background: #f8f3f0 url(../img/pattern-white.jpg);  
}

.big-heading::after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;
  
  display: block;
  
  border-bottom: 2px solid #000000;
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;
  
  list-style: none;
}

.custom-list-1 li {
  position: relative;
  
  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  
  width: 8px;
  height: 8px;
  
  background-color: #000;
  transform: rotate(45deg);
}

.price-table {
  width: 100%;
}

.price-table td {
  width: 50%;
}

.price-table td:last-child {
  text-align: center;
}

/* Колонки для контента*/

.inner-columns {
  margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
  width: 460px;  
}

.inner-column-left {
  float: left;
}

.inner-column-right {
  float:right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}

.short-text {
  padding-right: 80px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  
  color: #fff;
  background: #252525 url(/img/footer-bg.png);
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #fff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  
  text-align: center;
}

.footer-social p {
   margin: 0;
   margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  
  background: #000;

  transition: 
    background-color 0.5s,
    background-position 0.5s;    
}

.social-btn-vk {
  background: #000 url(../img/v.png) no-repeat center;
}

.social-btn-fb {
  background: #000 url(../img/f.png) no-repeat center;
}

.social-btn-inst {
  background: #000 url(../img/i.png) no-repeat center;
}

.social-btn-vk:hover {
  background: #fff url(../img/vv.png) no-repeat center;
}

.social-btn-fb:hover {
  background: #fff url(../img/ff.png) no-repeat center;
}

.social-btn-inst:hover {
  background: #fff url(../img/ii.png) no-repeat center;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  
}

.footer-copyright .btn {  
  margin-right: 0px;  
}

.footer-copyright .btn:hover {  
  color: black;
  background-color: white;
}

/* всплывающая форма*/

.modal-content {
  display: none;  
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 20;
  
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  
  color: #000;
  
  background: #f8f3f0 url(../img/pattern-white.jpg);
  box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}



@keyframes bounce {
  0%   {transform: translateY(-2000px);}
  70%  {transform: translateY(30px);   }
  90%  {transform: translateY(-10px);  }
  100% {transform: translateY(0);      }
}

.modal-content-show{
  display: block;
  animation: bounce 0.6s;
}

@keyframes shake {
  0% 100%              {transform: translateX(0);     }
  10% 30% 50% 70% 90%  {transform: translateX(-10px); }
  20% 40% 60% 80%      {transform: translateX(10px);  }
}

.modal-error {
  animation: shake 0.6s;
}


.modal-content-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  
  background: #e9e5dc url(../img/map.jpg);
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  width: 100%;
  height: 100%;
  
  background: rgba(0,0,0,0.5);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  
  width: 22px;
  height: 22px;  
  
  font-size: 0;
    
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg)
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-form {
  position: relative;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  
  background-color: #f0f6f3;
  border: 2px solid #000;
  outline: none;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background: url(../img/) no-repeat;  
}

.login-form input.icon-password {
  background: url(../img/) no-repeat;  
}

.login-form .restore {
  float: right;
  
  color: #000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

 .login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

 .login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  
  width: 17px;
  height: 17px;
  
  border: 2px solid #000;
}

 .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
 .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  
  width: 15px;
  height: 2px;
  
  background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg)
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}





/*==============================
     Системное оформление
================================*/
/*
body {
    padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;
  
  height: 24px;
  padding: 2px 5px;
  
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}


body > * > *::before {
  top: -3px;
  left: -3px;
}
body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;
  
  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45,82);
}

body > * > *::before {
  color: white;
  
  background: rgb(255, 45,82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

body > * > * > *::before {
  color: black;
  
  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header"
}

.container::before {
  content: ".container"
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}


.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block"
}

.index-logo::before {
  content: ".index-logo"
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";  
}

.index-content::before {
  content: ".index-content"
}

index-content-left::before {
  content: ".index-content-left";
  left:auto;
  right: 0;
}

index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}



*/

